

.profileDropdown {
    display: flex;
    background-color: #13003db4;
    width: 22rem;
    position: absolute;
    top: 5rem;
    left: 1rem;
    right: 1rem;
    overflow: hidden;
    border-radius: 0.7rem;
}

.profileDropdown__right {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

.profileDropdown__link {
    padding: 0.3rem;
    color: white;
    text-decoration: none;
}

.profileDropdown__left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.profileDropdown__image {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

@media screen and (max-width: 550px) {
    .profileDropdown {
        width: 70%;
        transform: translateX(50%);
        right: 50%;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .profileDropdown__right {
        flex-wrap: wrap;
        height: 130px;
        gap: 0.2rem;
    }
}

@media screen and (max-width: 300px) {
    .profileDropdown__left {
        display: none;

    }
}