

.notificationsDropdown {
    display: flex;
    background-color: #292929dc;
    width: 25rem;
    position: absolute;
    top: 4.5rem;
    
    height: 25rem;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.7rem;
    padding: 0.5rem;
    
}

.notificationsDropdown-ltr {
    left: 1rem;
}

.notificationsDropdown-rtl {
    right: 1rem;
}


.notificationsDropdown__header {
    height: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.3rem;
    transform: translateX(-0.3rem);
}

.notificationsDropdown__title {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

.notificationsDropdown__status-newNotifications {
    color: rgb(116, 253, 255);
    animation: boldAnimation 8s infinite;
}

.notificationsDropdown__status-empty {
    color: rgb(255, 29, 47);
}

.notificationsDropdown__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    overflow-y: auto;
    height: 85%;
    scrollbar-width: thin;
}

.notification {
    width: 95%;
    display: flex;
    justify-content: center;
    height: 5rem;

}

.notification__left {
    align-items: center;
    justify-content: center;
}

.notification__right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
    height: 5.3rem;
    padding-top: 0.3rem;
    margin-right: -0.1rem;
    width: 100%;
    background:linear-gradient(90deg, rgba(2,0,36,0.09037118265274857) 0%, rgba(0,30,37,0.7402311266303396) 100%);
    border: 1px solid rgba(255, 255, 255, 0.361)
}

.notification__right-rtl {
    border-radius: 0.6rem 0rem 0rem 0.6rem;
    padding-right: 0.4rem;
}

.notification__right-ltr {
    border-radius: 0rem .6rem .6rem 0rem;
    padding-left: 0.4rem;
}

.notification__title {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.notification__content {
    color: white;
    font-size: 11px;
}

.notification__content-bold {
    animation: boldAnimation 8s infinite;
}

@keyframes boldAnimation {
    0% {
        color:rgb(255, 255, 255);
    }
    50% {
        color: rgb(0, 170, 173)
    }
    100% {
        color: rgb(255, 255, 255)
    }
}

.notification__creationTime {
    color: rgba(255, 255, 255, 0.728);
    margin-top: auto;
    text-align: end;
    position: relative;
    bottom: 5px;
    width: 97%;
    font-size: 11px;
}

.notification__thumbnail {
    aspect-ratio: 1/1;
    width: 105px;
    height: 85px;
    
}

.notification__thumbnail-rtl {
    border-radius: .1rem .6rem .6rem .1rem;
}

.notification__thumbnail-ltr {
    border-radius: .6rem .1rem .1rem .6rem;
}

.notification__users {
    position: relative;
    bottom: 2.3rem;
    display: flex;
    gap: -10px;
    width: 75px;
}

.notification__users-rtl {
    right: 5px;
}
.notification__users-ltr {
    left: 20px;
}

.notification__user {
    border-radius: 50%;
    width: 30px;
    margin-left: -15px;
    height: 30px;
}

@media screen and (max-width: 600px) {
    .notificationsDropdown {
        width: 80%;
    }

    .notificationsDropdown-ltr {
        left: 50%;
        transform: translateX(-50%);
    }
    .notificationsDropdown-rtl {
        right: 50%;
        transform: translateX(50%);
    }
}