<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to our group, {{username}}!</title>
</head>
<body> 
    <!-- user-joined-group template for email body -->
    <h2>Congrats, {{username}}!</h2>
    <p>You are now an active member in group: <b>{{group_title}}</b>.</p> 
    <p><a href="{{link}}">Step up and meet your new friends!</a></p>
    <b>In regards,<br>LearnTogether team.</b>
</body>
</html>